fastapi~=0.111.0
ollama~=0.3.1
qdrant-client~=1.9.0
spacy~=3.7.5
uvicorn
python-dotenv~=1.0.1
requests~=2.32.3
rich~=13.7.1
numpy~=1.26.4
pydantic_settings
httpx~=0.27.0
tool-parse
docker~=7.1.0
isort
pylint
google-generativeai
pandas~=2.2.2
matplotlib~=3.9.0
seaborn~=0.13.2
tqdm~=4.66.4
rich~=13.7.1
requests~=2.32.3
playwright~=1.47.0
setuptools~=70.0.0
newspaper3k