* {
    scrollbar-width: thin;
    scrollbar-color: #B7B7B7 transparent;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 6px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--light-gray);
    min-height: 24px;
    min-width: 12px;
}

*::-webkit-scrollbar-thumb:focus {
    background-color: var(--light-gray);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--light-gray);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-gray);
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}
