/*:root {
    --black: #0D0E0D;
    --white: #F8F9F8;
    --light-grey: #C8C9C8;
    --grey: #252525;
    --green: #62B16D;
}*/

:root {
    --black: #141718;
    --white: #FFFFFF;
    --light-grey: #A0A0A5;
    --grey: #232627;
}

